* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: MS Sans Serif4, Geneva, sans-serif;
}

button,
input,
select {
  font-family: MS Sans Serif4, Geneva, sans-serif;
}

.wrapper {
  // max-width: 320px;
  max-width: 240px;
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 32px 0;
}

.header {
  &__title {
    text-align: center;
    font-size: 16px;
  }
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  &__body {
    border-radius: 8px;
    box-shadow: 0 0px 16px rgb(0 0 0 / .1);
  }
}

.forms-wrapper {
  margin-top: 24px;
  border-radius: 8px;
}

.forms {
  &__item {
    display: block;
  }

  &__item + &__item {
    margin-top: 16px;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
  }

  &__input-type-color {
    width: 100%;
    height: 40px;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  select {
    width: 100%;
    padding: 4px;
  }

  input[type="color"] {
    -webkit-appearance: none;
    border: none;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

}

#tab-monochrome,
#tab-gradient {
  display: none;
}

#tab-monochrome.is-active {
  display: block;
}

#tab-gradient.is-active {
  display: block;
}

.download {
  margin-top: 24px;
  text-align: center;
}

.btn-download {
  width: 240px;
  border-radius: 999px;
  padding: 8px;
  font-size: 14px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}

.footer {
  text-align: center;
  margin-top: 32px;
}